<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HLBBWS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <!--
    <system.net>  
    <defaultProxy>  
      <proxy  
        usesystemdefault="True"  
        proxyaddress="http://192.168.1.10:3128"  
        bypassonlocal="True"  
      />  
      <bypasslist>  
        <add address="[a-z]+\.contoso\.com$" />  
      </bypasslist>  
    </defaultProxy>  
  </system.net>  
    -->
  <appSettings>
    <!-- System Settings -->
    <add key="System_Save_Log" value="0" />
    <!-- Note: 0= Off, 1= On -->
    <add key="System_Log_Path" value="D:\Program Files (x86)\Web Applications\MGHLBBWS\Log" />
    <!-- Note: Folder path to keep the log file -->
    <!-- Database Settings -->
    <!--<add key="TSW_SQL_Auth_Mode" value="0" />  -->
    <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->
    <!--<add key="TSW_SQL_Server" value="10.202.8.42,1443" />-->
    <!-- Note: Server Name or IP address , with port -->
    <!--<add key="TSW_SQL_Database" value="HLBB_TSW" />  -->
    <!-- Note: Database Name -->
    <!--<add key="TSW_SQL_ID" value="sa" />    -->
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
    <!--<add key="TSW_SQL_Pwd" value="lucky123-" />  -->
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
    <!-- Database Settings -->
    <add key="MG_SQL_Auth_Mode" value="0" />
    <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->
    <!--<add key="MG_SQL_Server" value="kapps2,1466" />-->
    <add key="MG_SQL_Server" value="dps-jasonang.workgroup.my,1433" />
    <!--<add key="MG_SQL_Server" value="dps-jasonang.workgroup.my,1433" />-->
    <!-- Note: Server Name or IP address , with port -->
    <add key="MG_SQL_Database" value="DEV_HLBB_MG" />
    <!--<add key="MG_SQL_Database" value="HLBB_MG" />-->
    <!-- Note: Database Name -->
    <add key="MG_SQL_ID" value="sa" />
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
    <add key="MG_SQL_Pwd" value="sa" />
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
    <!-- Database Settings for AV-->
    <add key="MG_SQL_Auth_Mode2" value="0" />
    <!-- Note: 0= Sql Authentication, 1= Windows Authentication -->
    <!--<add key="MG_SQL_Server2" value="dps-jasonang.workgroup.my,1433" />-->
    <add key="MG_SQL_Server2" value="kapps2,1466" />
    <!--<add key="MG_SQL_Server2" value="172.20.1.56,1466" />-->
    <!-- Note: Server Name or IP address , with port -->
    <add key="MG_SQL_Database2" value="HLBB_MG_VS" />
    <!-- Note: Database Name -->
    <add key="MG_SQL_ID2" value="sa" />
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) -->
    <add key="MG_SQL_Pwd2" value="sa" />
    <!-- Note: Use when SQL_Auth_Mode = 0 (Sql Authentication) and in Encrypted text -->
    <!-- EDMS Web Service -->
    <!--<add key="EDMS_Host_URL" value="https://edms-sit1.hlbank.my:8081/load_wssdk/wssdk.asmx" />-->
    <add key="EDMS_Host_Timeout" value="00:30:30" />
    <!--<add key="EDMS_Host_ID" value="K2WORKFLOW" />-->
    <add key="EDMS_Host_URL" value="http://kapps2/WSSDK/WSSDK.asmx" />
    <add key="EDMS_Host_ID" value="k2admin" />
    <!-- K2 web API setting -->
    <add key="k2_webserver_URL" value="https://workflow-uat1.hlbank.my:8080" />
    <add key="k2_adminID" value="hlbho/tsp_dms_apppool" />
    <add key="k2_adminpwd" value="40/2ke/aAlguHDfZgcNiP0pY52AsTjbNH10EuAbmilLki52aIrZBUqBwL6Af7EKQRlKWvZ6EDDpCPhHjoaLXq+APTS9glhQvlJGXCitsf1tPGXxsGppayl8+AUBNFfrT" />
    <!-- email setting -->
    
    <add key="FromEmail" value="noreply-HLBMortgageCentre-UAT@hlbb.hongleong.com.my" />
    <add key="MailUsername" value="MortgageCenterUAT" />
    <add key="MailPassword" value="NcZiyW+yvB8uKKpExjEB1CZRAvgAzpc/kaNaCYJD8PRvxpz2tPSOePrO9R4DAN6ZUhqqLk95I3FvWFB7QzMmTTyUmC23GVUELG1F31l9AoCgWbHJtPIlMPqQ/ftGz+O7" />
    
    <add key="MailServer" value="10.150.1.171" />

    <!--<add key="MailServer" value="mail.toshibatec.com.my" />-->
    <!-- config got infobit enhancements-->
    <!--<add key="InfobipAPIServer" value="http://kapps2"/>-->

    <!-- backup config please ignore 
    <add key="InfobipAPIServer" value="http://localhost" />
    <add key="InfobipAPIEndPoint" value="HLBBBWS_WEBAPI/api/HLBBWS/Infobip_SendEmail_Main" />
    <add key="InfobipAPIEndPoint_GetResult" value="HLBBBWS_WEBAPI/api/HLBBWS/Scheduller_Infobip_GetDeliveryReportData" />
    -->
    <add key="MailPortNumber" value="25" />
    
    <!--
    <add key="infobip_user" value="noreply-correspondence@hongleongbank.com.my" />
    <add key="infobip_base64credentials" value="bWd3Zl91YXQ6QUAxMDNjcmFtZyY=" />
    -->
  
    <add key="infobip_user" value="toshibatecjasonang@selfserviceib.com" />
    <add key="infobip_base64credentials" value="dG9zaGliYXRlY2phc29uYW5nOnRvc2hpYmF0ZWNAamFzb25BTkcx" />
    

    <add key="infobip_url_send" value="https://lz4e25.api.infobip.com/email/1/send" />
    <add key="infobip_url_getreport" value="https://lz4e25.api.infobip.com/email/1/reports" />
    
    <add key="infobip_proxyserver" value="localhost" />
    <add key="infobip_proxyport" value="8099" />

    <!-- set false for proxy -->
    <add key="BypassProxyOnLocal" value="true" />
  </appSettings>
  <connectionStrings />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <!--
      The <authentication> section enables configuration 
      of the security authentication mode used by 
      ASP.NET to identify an incoming user. 
    -->
    <authentication mode="Windows" />
    <!--
       The <customErrors> section enables configuration 
       of what to do if/when an unhandled error occurs 
       during the execution of a request. Specifically, 
       it enables developers to configure html error pages 
       to be displayed in place of a error stack trace.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.web>
    <httpRuntime maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <client>
      <!--
      <endpoint address="http://10.3.14.188:9083/HLBWS/services/EAIDelegateBean" binding="basicHttpBinding" bindingConfiguration="EAIDelegateBeanSoapBinding" contract="EAIWebService.EAIDelegateBean" name="EAIDelegateBean" />
      <endpoint address="https://10.3.14.188:9183/HLBWS/services/EAIDelegateBean" binding="basicHttpBinding" bindingConfiguration="EAIDelegateBeanSoapBinding1" contract="EAIWebService.EAIDelegateBean" name="EAIDelegateBean.0" />
      -->
      <endpoint address="http://kapps2/WSSDK/WSSDK.asmx" binding="basicHttpBinding" bindingConfiguration="WSSDKSoap" contract="EDMS_WSSDK.WSSDKSoap" name="WSSDKSoap" />

    </client>

    <bindings>
      <basicHttpBinding>
         <!-- enable section for HLB -->
        <!--
        <binding name="WSSDKSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00">
          <security mode="Transport"/>
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
        -->
        
        <!-- enable section for development -->
        <binding name="WSSDKSoap" closeTimeout="01:50:00" openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00" maxReceivedMessageSize="2147483647" />
                 
        <!-- <binding name="EAIDelegateBeanSoapBinding" closeTimeout="01:50:00"
          openTimeout="01:50:00" receiveTimeout="01:50:00" sendTimeout="01:50:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="8388608"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>-->


        <!--<binding name="EAIDelegateBeanSoapBinding1" />-->
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" />
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--
  <configuration>
    <system.web>
      <httpRuntime maxRequestLength="1048576" />
    </system.web>
  </configuration>
  For IIS7 and above, you also need to add the lines below:
-->
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
  </system.webServer>
  <applicationSettings>
    <HLBBWS.Properties.Settings>
      <setting name="HLBBWS_LOADS_API_WsEIWSLosaAppBocImpService" serializeAs="String">
        <value>https://loadsuat.hlbank.my/mg/ws/WsEIWSLosaAppBocImp</value>
      </setting>
    </HLBBWS.Properties.Settings>
  </applicationSettings>
  <system.web>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
  </system.web>
  <system.web>
    <customErrors mode="Off" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Win32.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Process" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>